.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 54px;

  @media screen and (max-width: 900px) {
    align-items: center;
    gap: 27px;
  }
}

.body {
  display: flex;
  flex-direction: row;
  gap: 45px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 10px;
    width: max-content;
  }
}

.title {
  @media screen and (max-width: 900px) {
    width: 345px;
    text-align: left;
  }
}
