.main {
  position: relative;
  margin-top: 71px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 89px;
  margin-bottom: 171px;
  transition: 0.5s opacity;

  @media screen and (max-width: 900px) {
    gap: 34px;
    align-items: flex-start;
  }
}

.main_loading {
  opacity: 0;
}

.title {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  color: var(--black);

  @media screen and (max-width: 900px) {
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    width: 300px;
  }
}

.curriculums {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 68px;
  align-items: flex-start;

  @media screen and (max-width: 900px) {
    align-items: center;
    gap: 26px;
  }
}

.bottom {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;

  @media screen and (max-width: 1400px) {
    flex-direction: column;
  }
}
